<div class="riddles-display">
    <div class="progress-code">
        <label for="user-answer">Input a Progress Code: </label>
        <input id="user-Progress-code" #userProgCodeInput />
        <button type="button" (click)="submitProgCode(userProgCodeInput.value); userProgCodeInput.value=''">Submit</button>
        
        <div>Current Riddle's Progress Code: {{currentRiddle.progressCode}}</div>
    </div>

    <div class="user-answer">
        <h1> {{currentRiddle.question}} </h1>
        <h2 *ngIf="hintVisibility"> Hint: {{currentRiddle.hint}} </h2>

        <div class="correct-status-message" *ngIf="correctStatusVisibility"> <h3><strong>{{correctStatusMessage}}</strong></h3> </div>

        <input id="user-answer" #userAnswer />
        <div>
            <button type="button" (click)="submitAnswer(userAnswer.value); userAnswer.value=''">Submit Answer</button>
            <button type="button" (click)="displayHint();">Show Hint</button>
        </div>
    </div>
</div>