.progress-code {
    position: absolute;
    right: 0;
    text-align: center;
}

.user-answer {
    position: fixed;
    top: 25%;
    left: 50%;

    text-align: center;
    vertical-align: middle;

    transform: translate(-50%, -50%);
}