<div class="riddles-display">
    <h2> {{currentRiddle}} </h2>
    <h3 *ngIf="hintVisibility"> Hint: {{currentHint}} </h3>

    <label for="user-answer">Submit your answer! </label>
    <input id="user-answer" #userAnswer />
    <div>
        <button type="button" (click)="submitAnswer(userAnswer.value); userAnswer.value=''">Next Question</button>
        <button type="button" (click)="displayHint();">Show Hint</button>
    </div>
    <div *ngIf="correctStatusVisibility"> <strong>{{correctStatusMessage}}</strong> </div>

    <label for="user-answer">Input a Progress Code!</label>
    <input id="user-Progress-code" #userProgCodeInput />
    <div>
        <button type="button" (click)="submitProgCode(userProgCodeInput.value); userProgCodeInput.value=''">Submit</button>
    </div>
</div>