<div class="rules-list">
    <h1>Rules:</h1>
    <ul>
        <li>There are 10 questions to answer from pertaining to 80's pop culture.</li>
        <li>You may not look up anything on google.</li>
        <li>Your available resources are:</li>
        <ul>
            <li>Using the 'hint' button on the riddle page.</li>
            <li>Phoning a friend.</li>
            <li>Watching/listening to a movie/show/song.</li>
        </ul>
        <li>Any answers involving numbers will be required to take the alphanumeric form. (i.e. "1984" is correct while "nine thousand eighty four" is not).</li>
        <li>Be sure to write down your progress codes (located on the top right of the page) along the way to save your place!</li>
        <li>Have Fun!</li>
    </ul>

    <a routerLink="/home">Start!</a>
</div>

